[versions]
java = "17"
kotlin = "1.6.10"
coroutines = "1.6.0"
serialization = "1.3.1"
miglayout = "11.0"
flatlaf = "1.6.2"
svgSalamander = "1.1.2.4"
jide = "3.6.18"
logback = "1.2.3"
kotest = "5.0.3"
zip4j = "2.9.1"
ignition = "8.1.1"

[plugins]
kotlin = { id = "org.jetbrains.kotlin.jvm", version.ref = "kotlin" }
serialization = { id = "org.jetbrains.kotlin.plugin.serialization", version.ref = "kotlin" }
ktlint = { id = "org.jlleitschuh.gradle.ktlint", version = "10.2.1" }
runtime = { id = "org.beryx.runtime", version = "1.12.7" }

[libraries]
# core functionality
coroutines-core = { group = "org.jetbrains.kotlinx", name = "kotlinx-coroutines-core", version.ref = "coroutines" }
coroutines-swing = { group = "org.jetbrains.kotlinx", name = "kotlinx-coroutines-swing", version.ref = "coroutines" }
serialization-json = { group = "org.jetbrains.kotlinx", name = "kotlinx-serialization-json", version.ref = "serialization" }
xerial-jdbc = { group = "org.xerial", name = "sqlite-jdbc", version = "3.36.0.3" }
logback = { group = "ch.qos.logback", name = "logback-classic", version.ref = "logback" }
hsql = { group = "org.hsqldb", name = "hsqldb", version = "2.6.1" }
zip4j = { group = "net.lingala.zip4j", name = "zip4j", version.ref = "zip4j" }

# appearance/swing
miglayout = { group = "com.miglayout", name = "miglayout-swing", version.ref = "miglayout" }
flatlaf-core = { group = "com.formdev", name = "flatlaf", version.ref = "flatlaf" }
flatlaf-extras = { group = "com.formdev", name = "flatlaf-extras", version.ref = "flatlaf" }
flatlaf-jide = { group = "com.formdev", name = "flatlaf-jide-oss", version.ref = "flatlaf" }
svgSalamander = { group = "com.formdev", name = "svgSalamander", version.ref = "svgSalamander" }
jide-common = { group = "com.jidesoft", name = "jide-oss", version.ref = "jide" }

# Ignition
ignition-common = { group = "com.inductiveautomation.ignition", name = "common", version.ref = "ignition" }
ignition-gateway = { group = "com.inductiveautomation.ignition", name = "gateway-api", version.ref = "ignition" }
# Ignition core types use classes from these libs (e.g. StringUtils, ImmutableMap), so we're forced to include these
apache-commons = { group = "org.apache.commons", name = "commons-lang3", version = "3.8.1" }
google-guava = { module = "com.google.guava:guava", version = "26.0-jre" }
ia-gson = { module = "com.inductiveautomation.ignition:ia-gson", version = "2.8.5" }

# test framework
kotest-junit = { group = "io.kotest", name = "kotest-runner-junit5", version.ref = "kotest" }
kotest-assertions-core = { group = "io.kotest", name = "kotest-assertions-core", version.ref = "kotest" }
kotest-property = { group = "io.kotest", name = "kotest-property", version.ref = "kotest" }

[bundles]
coroutines = [
    "coroutines-core",
    "coroutines-swing",
]
flatlaf = [
    "flatlaf-core",
    "flatlaf-extras",
    "flatlaf-jide",
]
kotest = [
    "kotest-junit",
    "kotest-assertions-core",
    "kotest-property",
]
ignition = [
    "ignition-common",
    "ignition-gateway",
]
ia-transitive = [
    "apache-commons",
    "google-guava",
    "ia-gson",
]
