name: Release new version upon tag commit
on:
  push:
    tags:
      - '[0-9].[0-9].[0-9]'
jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: 17
          cache: 'gradle'
      - name: Execute Gradle build, JPackage
        run: './gradlew -Pversion="${{github.ref_name}}" build jpackage'
      - name: Upload artifacts
        uses: actions/upload-artifact@v3
        with:
          name: ${{ matrix.os }}
          path: |
            build/jpackage/*.deb
            build/jpackage/*.rpm
            build/jpackage/*.exe
            build/jpackage/*.msi
      - name: Upload jar
        if: ${{ matrix.os == 'ubuntu-latest' }}
        uses: actions/upload-artifact@v3
        with:
          name: fatjar
          path: build/libs/kindling-bundle.jar
      - name: Publish to Github packages
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: './gradlew -Pversion="${{github.ref_name}}" publish'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  release:
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - uses: actions/checkout@v3
      - name: Download Linux Artifacts
        uses: actions/download-artifact@v3
        with:
          name: ubuntu-latest
          path: artifacts
      - name: Download Windows Artifacts
        uses: actions/download-artifact@v3
        with:
          name: windows-latest
          path: artifacts
      - name: Download bundle jar
        uses: actions/download-artifact@v3
        with:
          name: fatjar
      - name: Display structure of downloaded files
        run: ls -R
      - name: Create Release
        uses: marvinpinto/action-automatic-releases@latest
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          prerelease: false
          files: |
            artifacts/*
            kindling-bundle.jar
      - name: Set package version
        run: npm --no-git-tag-version version ${{github.ref_name}}
      - name: Build App Installer Bundles
        uses: shannah/jdeploy@4.0.1
        with:
          github_token: ${{ github.token }}
